<!DOCTYPE html>

<title>Welcome!</title>
<!--
<form method="post">
    <input type="text" name="username" value="Username">
    <input type="password" name="password" value="Password">
    <input type="submit" value="Login">
</form>
-->

<form method="post">
    <label for="username">User name:</label>
    <input type="text" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
